[project]
	description = Renren Appication
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/txdywy
[access "refs/for/refs/*"]
	read = group user/txdywy
	push = group user/txdywy
	label-Code-Review = -2..+2 group user/txdywy
	label-Verified = -1..+1 group user/txdywy
	rebase = group user/txdywy
	removeReviewer = group user/txdywy
	submit = group user/txdywy
[access "refs/heads/*"]
	read = group user/txdywy
	create = group user/txdywy
	push = +force group user/txdywy
	pushMerge = group user/txdywy
[access "refs/tags/*"]
	push = +force group user/txdywy
	pushTag = group user/txdywy
	pushSignedTag = group user/txdywy
