<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CrazyChic</display-name>
  <servlet>
		<servlet-name>WelcomeServlet</servlet-name>
		<servlet-class>com.gg.webcanvas.WelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
		<servlet-name>WelcomeServlet</servlet-name>
		<url-pattern>/crazychick/welcome</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>HomeServlet</servlet-name>
	<servlet-class>com.gg.webcanvas.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>HomeServlet</servlet-name>
	<url-pattern>/crazychick/home</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <error-page>
		<error-code>404</error-code>
		<location>/404.html</location>
  </error-page>
</web-app>